# Import Required Libraries

In [1]:
import pandas as pd
# import spacy
# from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
# from spacy.lang.en.stop_words import STOP_WORDS
# import string

# Load Dataset

In [5]:
# Load the TSV file into a DataFrame
df = pd.read_csv('RottenTomatoes_sentiment.tsv', sep='\t')
df.head()

           source  year                   text  sentiment  frequency
0  rottentomatoes  2010  !Women Art Revolution   0.817774          1
1  rottentomatoes  2011  !Women Art Revolution   0.660760         21
2  rottentomatoes  2012  !Women Art Revolution   0.857373          1
3  rottentomatoes  2013  !Women Art Revolution   0.748098          1
4  rottentomatoes  2018  !Women Art Revolution   0.852688          1

# Preprocess dataset

In [8]:
# Extract the 'year' column, get unique values, and sort them in ascending order
unique_years_sorted = df['year'].unique()
unique_years_sorted.sort()

# Print the sorted unique years
print(unique_years_sorted)

[1800 1923 1927 1928 1929 1931 1932 1933 1934 1935 1936 1937 1938 1939
 1941 1942 1943 1944 1946 1948 1949 1951 1953 1954 1956 1958 1960 1962
 1963 1965 1967 1969 1970 1971 1974 1976 1977 1978 1979 1980 1981 1982
 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996
 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

In [10]:
# Group by 'year' and count the frequency of each year
year_frequency = df['year'].value_counts().sort_index()

# Print the sorted unique years and their respective frequency
# Print all rows
print(year_frequency.to_string())

year
1800      16
1923       1
1927       2
1928       1
1929       1
1931       1
1932       1
1933       1
1934       1
1935       2
1936       1
1937       1
1938       1
1939       2
1941       2
1942       1
1943       1
1944       1
1946       1
1948       2
1949       1
1951       2
1953       4
1954       2
1956       1
1958       3
1960       3
1962       2
1963       2
1965       2
1967       2
1969       2
1970       1
1971       1
1974       1
1976       1
1977       2
1978       1
1979       4
1980       3
1981       7
1982       4
1983       3
1984       4
1985       5
1986       4
1987       2
1988       6
1989       5
1990      19
1991      17
1992      19
1993      14
1994      22
1995      20
1996      25
1997      13
1998      19
1999      12
2000    3693
2001    2189
2002    4329
2003    4930
2004    4262
2005    4419
2006    4992
2007    4289
2008    4261
2009    4387
2010    4030
2011    3866
2012    3265
2013    3566
2014    3252
2015    3297
2016    3765
2017    5052
2018    7467
2019    8952
2020    8008

In [11]:
# Remove rows with years less than 2000
df = df[df['year'] >= 2000]
(df.head())

           source  year                   text  sentiment  frequency
0  rottentomatoes  2010  !Women Art Revolution   0.817774          1
1  rottentomatoes  2011  !Women Art Revolution   0.660760         21
2  rottentomatoes  2012  !Women Art Revolution   0.857373          1
3  rottentomatoes  2013  !Women Art Revolution   0.748098          1
4  rottentomatoes  2018  !Women Art Revolution   0.852688          1

In [12]:
# Group by 'year' and count the frequency of each year
year_frequency = df['year'].value_counts().sort_index()

# Print the sorted unique years and their respective frequency
# Print all rows
print(year_frequency.to_string())

year
2000    3693
2001    2189
2002    4329
2003    4930
2004    4262
2005    4419
2006    4992
2007    4289
2008    4261
2009    4387
2010    4030
2011    3866
2012    3265
2013    3566
2014    3252
2015    3297
2016    3765
2017    5052
2018    7467
2019    8952
2020    8008

# Save Preprocessed dataset

In [13]:
# # Save the preprocessed DataFrame to a new CSV file
# Export the DataFrame to a new .tsv file
df.to_csv('RottenTomatoes_sentiment.tsv', sep='\t', index=False)